@model CarParkingSystem.ViewModel.ReserveViewModel

@{
    ViewData["Title"] = "Availabilty";
}

<div class="admin-other-form">
    <div class="table-card">
        <h6 class="table-heading">Bays</h6>
        <table class="table table-sm rana-form-table">
            <thead>
                <tr>
                    <th>Section</th>
                    <th>Bay</th>
                    <th>Occupancy</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Bays.Any())
                {
                    @foreach (var item in Model.Bays)
                    {
                        <tr>
                            <td>@item.SectionLetter</td>
                            <td>@item.BayNumber</td>
                            <td>
                                @if (Model.ParkingBays.Any(pb => pb.BaySection == item.SectionLetter && pb.BayNumber == item.BayNumber))
                                {
                                    var parkingBay = Model.ParkingBays.FirstOrDefault(pb => pb.BaySection == item.SectionLetter && pb.BayNumber == item.BayNumber);

                                    
                                    <p>@parkingBay?.Occupacy</p>
                                }
                                else
                                {
                                   <p>Un define</p>
                                }

                            </td>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td colspan="4"><h5 class="text-center">Record not found</h5></td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
