
@{
    ViewData["Title"] = "Submitted Appeal";
}

<style>
    .center {
        display: flex;
        justify-content: center;
    }
</style>
<div class="text-center" style="margin-top:10%">
    <h3>You have already submitted an appeal.</h3>
</div>
<div class="center mt-5">
    <a style="text-decoration:none" asp-action="StudentViolation" asp-controller="StudentDashboard" class="rana-form-btn">Back to list</a>
</div>

