
@{
    ViewData["Title"] = "Booking Exit";
}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6 text-center">
            <h3>Booking is pending approval.</h3>
        </div>
    </div>
</div>

