@model CarParkingSystem.Models.Feedback
@{
    ViewData["Title"] = "Reply Review";
}
<div class="" style="margin-top:100px">  
   <div class="driver-info">
        <p class="driver-info-p">
            <span>Date of Feedback:</span>
            <span>@Model.RatingDate.ToString("MM/dd/yyyy")</span>
        </p>
        <h6 class="rana-form-h6 mb-4 mt-5">Your Feedback</h6>
        <div class="row">
            <div class="col-12">
                <p class="driver-info-p">
                    <span>Rating:</span>
                    <span>
                        @for (int i = 0; i < Model.RatingNumber; i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="driver-info-p">
                    <span>Review:</span>
                    <span style="margin-left:210px">@Model.UserMessage</span>
                </p>
            </div>

        </div>
        @if (Model.FeedbackStatus == "UnRead")
        {
            <form asp-action="UpdateReview" method="post">
                <input type="hidden" asp-for="@Model.Id" />
                <div class="row">
                    <label class="rana-form-label driver-info-p" style="font-weight:700">Admin Reply:</label><br>
                    <textarea asp-for="AdminReplay" type="text" class="rana-form-input" style="height: 200px;" required>
        </textarea>
                </div>

                <div style="display:flex; justify-content:center; margin-top:80px ">
                    <button class="tbl-btn" type="submit">Reply Review</button>
                </div>

            </form>
        }
        else

        {
            <div class="row">
                <div class="col-md-12">
                    <p class="driver-info-p">
                        <span>Admin Reply:</span>
                        <span style="margin-left:17px">@Model.AdminReplay</span>
                    </p>
                </div>
            </div>
            <h3 class="text-center" style="margin-top:100px">You have already replied here!</h3>

        }

    </div>
        </div>
