@{
    ViewData["Title"] = "Home Page";
}

<div class="admin-other-form">
    <div class="mb-2">
        <button class="tbl-btn px-5">Add Bay</button>
    </div>
    <div class="table-card">
        <h6 class="table-heading">Bays</h6>
        <table class="table table-sm rana-form-table">
            <thead>
                <tr>
                    <th>Bay ID</th>
                    <th>Section</th>
                    <th>Bay</th>
                    <th>Action</th>
                    <th>Check-Out</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>B1</td>
                    <td>A</td>
                    <td>1</td>
                    <td>13:30</td>
                    <td><button class="tbl-btn">Remove</button></td>
                </tr>
                <tr>
                    <td>B1</td>
                    <td>A</td>
                    <td>1</td>
                    <td>13:30</td>
                    <td><button class="tbl-btn">Remove</button></td>
                </tr>
                <tr>
                    <td>B1</td>
                    <td>A</td>
                    <td>1</td>
                    <td>13:30</td>
                    <td><button class="tbl-btn">Remove</button></td>
                </tr>
                <tr>
                    <td>B1</td>
                    <td>A</td>
                    <td>1</td>
                    <td>13:30</td>
                    <td><button class="tbl-btn">Remove</button></td>
                </tr>
                <tr>
                    <td>B1</td>
                    <td>A</td>
                    <td>1</td>
                    <td>13:30</td>
                    <td><button class="tbl-btn">Remove</button></td>
                </tr>
                <tr>
                    <td>B1</td>
                    <td>A</td>
                    <td>1</td>
                    <td>13:30</td>
                    <td><button class="tbl-btn">Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>