
<style>
    .center{
        display:flex;
        justify-content:center;
    }
</style>
<div class="text-center" style="margin-top:10%">

    <h3>Driver and vehicle does not have a permit. </h3>
    <h3>Consider blacklisting non-organizationls drivers. </h3>
</div>
<div class="center mt-5">
    <a style="text-decoration:none" asp-action="Index" asp-controller="BlackList" class="rana-form-btn">Go to blacklist</a>
</div>