@model IEnumerable<CarParkingSystem.ViewModel.GuardSchedule.GuardScheduleViewModel>
@{
    ViewData["Title"] = "Index";
}
<style>
    .admin-other-forms {
        margin: 61px 0 0 0;
    }
</style>
<div class="admin-other-forms">
    <div class="text-center">
        <a class="tbl-btn px-5" style="text-decoration:none" asp-action="ViewSchedule">View Shift Schedule</a>

    </div>
    <div class="mb-2">
        <div class="search-input">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
    </div>
    <div class="table-card">
        <h6 class="table-heading">Guard Schedule</h6>
        <table class="table table-sm rana-form-table">
            <thead>
                <tr>
                    <th>Org Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.OrgNumber</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>
                                <a style="text-decoration:none" class="tbl-btn" asp-action="SetSchedule" asp-route-OrgNumber="@item.OrgNumber">Set Shifts</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4"><h5 class="text-center">Record not found</h5></td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

