
@{
    ViewData["Title"] = "Allocate Confirm";
}

<div class="admin-other-form" style="margin-bottom:200px">
    <div class="mb-2">
        <h3 class="text-center">Parking Bay has been allocated successfully</h3>
    </div>
</div>
