
@{
    ViewData["Title"] = "Deallocate QR Permit";
}

<div class="admin-other-form" style="margin-bottom:200px">
    <div class="mb-2">
        <h3 class="text-center">Driver does not have an active parking permit!</h3>
    </div>
</div>

