
@{
    ViewData["Title"] = "Guard Allocate Confirm";
}

<div class="admin-other-form" style="margin-bottom:200px">
    <div class="mb-2">
        <h3 class="text-center">Assigned a parking bay successfully.</h3>
    </div>
</div>
