@model CarParkingSystem.ViewModel.ReserveViewModel

@{
    ViewData["Title"] = "Reservation Verified";
}

<div class="admin-other-form">
    <div class="mb-2">
        <h3 class="text-center">Allocate Parking Bay</h3>
        <p class="text-center">User has Reservation</p>
       
    </div>
    <div class="table-card">
        <h6 class="table-heading">Bays</h6>
        <table class="table table-sm rana-form-table">
            <thead>
                <tr>
                    <th>Section</th>
                    <th>Bay</th>
                    <th>Occupancy</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Bays.Any())
                {
                    @foreach (var item in Model.Bays)
                    {
                        <tr>
                            <td>@item.SectionLetter</td>
                            <td>@item.BayNumber</td>
                            <td>
                                @if (Model.ParkingBays.Any(pb => pb.BaySection == item.SectionLetter && pb.BayNumber == item.BayNumber))
                                {
                                    var parkingBay = Model.ParkingBays.FirstOrDefault(pb => pb.BaySection == item.SectionLetter && pb.BayNumber == item.BayNumber);

                                    <p>@parkingBay?.Occupacy</p>
                                }
                                else
                                {
                                    <p>Un define</p>
                                }

                            </td>
                            <td>
                                @if (Model.ParkingBays.Any(pb => pb.BaySection == item.SectionLetter && pb.BayNumber == item.BayNumber))
                                {
                                    var parkingBay = Model.ParkingBays.FirstOrDefault(pb => pb.BaySection == item.SectionLetter && pb.BayNumber == item.BayNumber);

                                    if (Model.UserReservations.Any(x => x.BayId == parkingBay.BayId))
                                    {
                                        <a class="tbl-btn" style="text-decoration:none">Selected</a>
                                    }
                                    else
                                    {
                                        <p>Unavailable</p>
                                    }
                                    
                                }
                                else
                                {
                                    <p>Un define</p>
                                }
                            </td>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td colspan="4"><h5 class="text-center">Record not found</h5></td>
                    </tr>
                }


            </tbody>

        </table>

    </div>


</div>
<div style="display: flex; justify-content: center; margin-top:80px">


        <a class="tbl-btn" asp-action="AllocateConfirm" asp-controller="GuardDashboard" asp-route-RegNumber="@Model.regNumber"  style="text-decoration: none;">Check In</a>
    
</div>



